body {
    font-family: "Open Sans", sans-serif;
    background-color: rgb(245, 245, 245);
}

h1,
h2,
h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #3046c5;
}

header h2 {
    color: #cec8ff;
}

.site-footer {
    background-image: linear-gradient(#cec8ff, white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    /* Added to remove space before the navbar */
    padding: 30px;
    background-image: linear-gradient(to right, #5637dd, #3046c5, #60106b);
    color: white;
}

.row-content {
    padding: 50px 0;
    /* added lightgray because Firefox shows this line as black */
    border-bottom: 1px ridge lightgray;
    min-height: 200px;
}

.navbar {
    background-color: #901cad;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1em;
}

.carousel {
    border: solid #5637dd;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}


/* This was for the tabs around the Community Partners
.tab-content {
    border: 1px solid #ddd;
    border-top: none;
    padding: 10px;
}
*/